.buttonsgroup{
    padding: 20px;
    margin-top: auto;
}
.searchcolumn{
    padding: 10px;
    gap: 20px;
    background-color: brown;
}

.forecast {

    background-color: chartreuse;
    height: 150px;
    margin-top: 0px;
    
}

#resultdisplay{
    background-color: coral;
}
.forcastcontainer{
    
    border: solid 1px grey;
    margin-bottom: 100px;
}