
.searchcolumn{
    padding: 10px;
    gap: 20px;
    background-color:#FAFAFA;
}

.forecast {

    background-color:#45A0E5 ;
    height: auto;
   padding: 10px;
   margin-top: 50px;
   border:solid 1px grey;
   margin-bottom: 10px;
    text-align: center;
}

#resultdisplay{
    background-color:#86C7F8 ;
    text-align: center;
    
}
 #choices{ 
    padding: 5px;
    border: solid 1px grey;
    margin-bottom: 5px;
    margin-top: 5px;
   width: 177px;
   height: auto;
} 
#screen{
    border: solid 1px grey;
    height:auto;
}
.display-12{
    text-align: center;
}

div#hourlyId{
  width: 100%;
  padding:3px;
  border: black solid 1px;
  margin-bottom: 2px;
  margin-left:0.5%;
  }
p#hourlyP{
    padding: 5px;
}
 #choices-{
     background-color: chartreuse;
 }